<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Earth</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg_main">
        <div class="col-sm">
            Welcome, {{student.name}}!
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/platform">Back</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="container quiz-page mb-5">
        <div class="row">
            <div class="col-sm text-center mt-5">
                <h1>The Planet Earth</h1>
                <div class="mt-4">
                    <p class="quiz-description">Earth is the third planet in the solar system. It’s the only
                        planet known to support an atmosphere with oxygen,
                        oceans of liquid water on the surface and life. The planet
                        is 70% covered in water. Earth has a molten core which
                        creates a magnetic field. It is the one planet not named
                        after a Roman god or goddess. Earth has one moon and it
                        takes about 365 days for Earth to orbit the sun. </p>
                </div>
            </div>
        </div>
        <div class="col sm">
            <form id="form" action="/platform/validate" method="POST">
                {% csrf_token %}
                <div class="question1 mt-5">
                    <div class="quiz-question-name">How many moons does the earth have?</div>
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        {% if message.extra_tags == "question1" %}
                        <span class="text-danger">{{message}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input type="radio" id="q1a1" name="question1" value="1">
                    <label for="q1a1">648.</label><br>
                    <input type="radio" id="q1a2" name="question1" value="2">
                    <label for="q1a2">1.</label><br>
                    <input type="radio" id="q1a3" name="question1" value="3">
                    <label for="q1a3">2.</label><br>
                </div>
                <div class="question2 mt-5">
                    <div class="quiz-question-name">Why does the planet have a magnetic field:</div>
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        {% if message.extra_tags == "question2" %}
                        <span class="text-danger">{{message}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input type="radio" id="q2a1" name="question2" value="1">
                    <label for="q2a1">Because of it's molten core.</label><br>
                    <input type="radio" id="q2a2" name="question2" value="2">
                    <label for="q2a2">Because the planet is 70% water.</label><br>
                    <input type="radio" id="q2a3" name="question2" value="3">
                    <label for="q2a3">From the oxygen in the atmosphere.</label><br>
                </div>
                <div class="question3 mt-5">
                    <div class="quiz-question-name"> How long does it take to orbit the sun?</div>
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        {% if message.extra_tags == "question3" %}
                        <span class="text-danger">{{message}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input type="radio" id="q3a1" name="question3" value="1">
                    <label for="q3a1">One day.</label><br>
                    <input type="radio" id="q3a2" name="question3" value="2">
                    <label for="q3a2">One month.</label><br>
                    <input type="radio" id="q3a3" name="question3" value="3">
                    <label for="q3a3">365 days.</label><br>
                </div>
                <div class="question4 mt-5">
                    <div class="quiz-question-name">The earth is 75% water.</div>
                    {% if messages %}
                    <div class="col-sm-12">
                        {% for message in messages %}
                        {% if message.extra_tags == "question4" %}
                        <span class="text-danger">{{message}}</span>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <input type="radio" id="q4a1" name="question4" value="1">
                    <label for="q4a1">True</label><br>
                    <input type="radio" id="q4a2" name="question4" value="2">
                    <label for="q4a2">False</label><br>
                </div>
                <div class="submit mt-2">
                    <button name="validator" value="earth_quiz" class="btn btn-info">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>

