<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Social Studies</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg_main">
        <div class="col-sm">
            Welcome, {{user.name}}!
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/platform">Back</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/logout">Log Out</a>
        </div>
    </nav>
    <div class='container'>
        <div class='row'>
            <div class='gov_video col-sm'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/S2bxkt3Nbpk?start=30" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class='gov_quiz col-sm'>
                <p>Click <a href='/platform/gov_quiz_page'>here</a> for a quiz on the video you just watched!</p>
            </div> 
        </div>
        <div class='row'>
            <div class='white_house col-sm'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/WnBcUJ7duDY?start=146" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class='wh_quiz col-sm'>
                <p>Click <a href='/platform/white_house_quiz_page'>here</a> for a quiz on the video you just watched!</p>
            </div>
        </div>
        <div class='row'>
            <div class='DoI col-sm'>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/eIO-7dFz2JU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class='DoI_quiz col-sm'>
                <p>Click <a href='/platform/declaration_quiz_page'>here</a> for a quiz on the video you just watched!</p>
            </div>
        </div>
    </div>
    
</body>
</html>