<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="col-sm">
            Welcome, {{user.name}}!
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="container h-100">
        <div class="row">
            <div class="col-sm-3">
                <ul>
                    <li class="active">Home</li>
                    <li>Account Info</li>
                    <li>Student Info</li>
                    <li>Cirriculum</li>
                    <li>Grades</li>
                </ul>
            </div>
            <div class="col-sm-9">
                <!-- first row -->
                <div class="row">
                    <div class="col-sm">
                        <div class="hex">
                            <div class="hex inner">
                                <div class="hex-link">
                                    <div class="text-center">
                                        <a class="hex-link" href="/platform/reading">Reading</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="hex">
                            <div class="hex inner">
                                <div class="text-center">
                                    <a class="hex-link" href="#">Science</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- second row -->
                <div class="row">
                    <div class="offset-3 col-sm">
                        <div class="hex">
                            <div class="hex inner">
                                <div class="text-center">
                                    <a class="hex-link link-inner" href="#">Critical Thinking/ Problem Solving</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- third row -->
                <div class="row">
                    <div class="col-sm">
                        <div class="hex">
                            <div class="hex inner">
                                <div class="text-center">
                                    <a class="hex-link" href="#">English</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="hex">
                            <div class="hex inner">
                                <div class="text-center">
                                    <a class="hex-link" href="#">History</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>