<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower&display=swap" rel="stylesheet"> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/cd307cb601.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg_main">
        <div class="col-sm">
            Welcome, {{user.name}}!
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/platform">Back</a>
        </div>
        <div class="col-sm-2">
            <a class="btn btn-dark" href="/logout">Log Out</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <ul class="main-nav">
                    <li><a href='/platform'>Home</a></li>
                    <li><a href='/platform/account_info'>Account Info</a></li>
                    <li><a href="/platform/student_info"> Student Info</a></li>
                    <li><a href='/platform/hands_on'>Hands-On</a></li>
                </ul>
            </div>
            <div class="col-sm mt-5">
                <h4 class="quiz-description">Current Students</h4>
                {% for student in user.students.all %}
                <ul class="mt-2">
                    <li class="quiz-description">Student Name: {{student.name}}</li>
                    <li class="quiz-description">Grade: {{student.grade}}</li>
                </ul>
                <a href="/platform/delete_student/{{student.id}}"><button class="btn btn-danger">Remove</button></a> {% endfor %}
            </div>
            <div class="col-sm mt-5">
                <h4 class="quiz-description">Add a Student</h4>
                <form action="/platform/add_student/{{user.id}}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="quiz-description">Student's Name:</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label for="email" class="quiz-description">Grade:</label>
                        <input type="text" class="form-control" id="email" name="grade">
                    </div>
                    <div class="button">
                        <button class="btn btn-info" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>